extends ./layout.pug

block header
    include ./header.pug

block content
    .container-md
        .row
            h4.red= errorMessage
            img.d-flex.w-100(src='/image/joker.png' width="50%" height="50%")
block footer
    include ./footer.pug