div.d-flex.bgcolor-social
  .mr-auto.p-2.align-self-center
    a.p-2.mr-3.blackish(href='https://fb.com/' target='_blank')
      i.fab.fa-facebook.fa-lg
  
    a.p-2.mr-3.blackish(href='https://www.instagram.com/' target='_blank')
      i.fab.fa-instagram.fa-lg.fa-fw.me-2
  
    a.p-2.blackish(href='https://twitter.com/' target='_blank')
      i.fab.fa-twitter.fa-lg.fa-fw.me-2
  .mx-auto.p-2.align-self-center
    -if(name !== undefined)
        p= `Hi ${name}`
  .ml-auto.p-2
    button.btn.btn-outline-dark.p-2.mr-3.blackish.bgcolor-social(type='button' data-toggle='modal' data-target='#loginModal') Sign in
    a.p-2.pr-3.blackish.text-decoration-none(href='/sell/') Sell 
      i.fas.fa-comment-dollar.fa-lg 
    a#cart-link.p-2.blackish.text-decoration-none(href='/cart/')= cart.length
      i.fas.fa-shopping-cart.fa-lg

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.p-3(href='/') 
    img(src='/image/logo.png' width='140' height='50' alt='Neighbour')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.p-3
        a.nav-link(href='/products/') Products
      li.nav-item.dropdown.p-3
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | City
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/products/city/Vancouver') Vancouver
          a.dropdown-item(href='/products/city/Richmond') Richmond
      li.nav-item.dropdown.p-3
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Category
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/products/category/Bakery') Bakery
          a.dropdown-item(href='/products/category/Cheese') Cheese
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

#loginModal.modal.fade(tabindex='-1' aria-labelledby='loginModalLabel' aria-hidden='true')
  .modal-dialog.modal-md
    .modal-content
      .modal-header.bgcolor-social
        .p-1
          h5#loginModalLabel.modal-title.blackish Sign in
        .ml-auto.p-2
        button.btn.btn-secondary.mr-4(type='button' data-dismiss='modal' data-toggle='modal' data-target='#registerModal') Register
        button.btn-danger.btn-close(type='button' data-dismiss='modal' aria-label='Close') X
      .modal-body
        form(action='/user/login' method='post')
          .mb-3
            label.form-label(for='email') Email address
            input#loginEmail.form-control(type='email' name='email' required='required')
          .mb-3
            label.form-label(for='password') Password
            input#loginPassword.form-control(type='password' name='password' required='required')
          button.btn.btn-warning(type='submit') Sign in
      .modal-footer.bg-light
        p By clicking Sign in, you agree to Neighbour's Terms of Use and Privacy Policy. Neighbour may send you communications. We'll never post without your permission.
        

#registerModal.modal.fade(tabindex='-1' aria-labelledby='registerModalLabel' aria-hidden='true')
  .modal-dialog.modal-md
    .modal-content
      .modal-header.bgcolor-social
        h5#registerModalLabel.modal-title.blackish Register
        button.btn-danger.btn-close(type='button' data-dismiss='modal' aria-label='Close') X
      .modal-body
        form(action='/user/register' method='post')
          .mb-3
            label.form-label(for='userName') First Name
            input.form-control(type='text' name='userName' id='userName' required='required')
          .mb-3
            label.form-label(for='email') Email address
            input.form-control(type='email' name='email' id='email' required='required')
          .mb-3
            label.form-label(for='password') Password
            input.form-control(type='password' name='password' id='password' required='required')
          button.btn.btn-warning(type='submit') Register
      .modal-footer.bg-light
        p By clicking Register, you agree to Neighbour's Terms of Use and Privacy Policy. Neighbour may send you communications. We'll never post without your permission.
