div.d-flex.bgcolor-social
  .p-2
    a.p-2.blackish(href='https://fb.com/' target='_blank')
      i.fab.fa-facebook.fa-lg
  .p-2
    a.p-2.blackish(href='https://www.instagram.com/' target='_blank')
      i.fab.fa-instagram.fa-lg.fa-fw.me-2
  .p-2
    a.p-2.blackish(href='https://twitter.com/' target='_blank')
      i.fab.fa-twitter.fa-lg.fa-fw.me-2
  .ml-auto.p-2
    a.p-2.pr-3.blackish(href='/sell/') 
      i.fas.fa-comment-dollar.fa-lg
    a#cart-link.p-2.blackish.text-decoration-none(href='/cart/')= cart.length
      i.fas.fa-shopping-cart.fa-lg
      
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.p-3(href='/') 
    img(src='/image/logo.png' width='140' height='50' alt='Neighbour')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.p-3
        a.nav-link(href='/products/') Products
      li.nav-item.dropdown.p-3
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | City
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/products/city/Vancouver') Vancouver
          a.dropdown-item(href='/products/city/Richmond') Richmond
      li.nav-item.dropdown.p-3
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          | Category
        .dropdown-menu(aria-labelledby='navbarDropdown')
          a.dropdown-item(href='/products/category/Bakery') Bakery
          a.dropdown-item(href='/products/category/Cheese') Cheese
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search

