extends ./layout.pug

block header
    include ./header.pug
block content
    #myCarousel.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
            li.active(data-target='#myCarousel' data-slide-to='0')
            li(data-target='#myCarousel' data-slide-to='1')
            li(data-target='#myCarousel' data-slide-to='2')
        .carousel-inner
            .carousel-item.active
                img.d-block.w-100(src='image/product/macarons.jpeg' alt='macarons')
            .carousel-item
                img.d-block.w-100(src='image/product/cheese.webp' alt='cheese')
            .carousel-item
                img.d-block.w-100(src='image/product/bread.webp' alt='bread')
        a.carousel-control-prev(href='#myCarousel' role='button' data-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.sr-only Previous
        a.carousel-control-next(href='#myCarousel' role='button' data-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.sr-only Next

    #featuredProducts
        .container.py-3
            .row.text-center.py-3
                .col-lg-6.m-auto
                    h1 Featured Products
            .row
                .col-12.col-md-4.mb-4
                    .card.box-shadow-double.feature
                        img.card-img-top.img-fluid(src='/image/product/croissant.webp' alt='...' height='18rem')
                        .card-body.text-center
                            h5.card-title Card title
                            p.card-text.text-left
                                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                            a.btn.btn-primary(href='#') Details
                .col-12.col-md-4.mb-4
                    .card.box-shadow-double.feature
                        img.card-img-top.rounded-circle.img-fluid.border(src='/image/product/cheese1.webp' alt='...' height='18rem')
                        .card-body.text-center
                            h5.card-title Card title
                            p.card-text.text-left
                                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                            a.btn.btn-primary(href='#') Details
                .col-12.col-md-4.mb-4
                    .card.box-shadow-double.feature
                        img.card-img-top.rounded-circle.img-fluid.border(src='/image/product/cake.webp' alt='...' height='18rem')
                        .card-body.text-center
                            h5.card-title Card title
                            p.card-text.text-left
                                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
                            a.btn.btn-primary(href='#') Details
block footer
    include ./footer.pug






