doctype html
html
  head
    title Neighbour
    link(rel='stylesheet' href="/css/styles.css")
    link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    link(rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon")
    block styles
    script(src="https://kit.fontawesome.com/473827d073.js" crossorigin="anonymous")        
    script(src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous")
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')
    script(src="/js/script.js" defer)
    block scripts
  body
    block header
    block content
    block footer
