extends ./layout.pug

block header    
    include ./header.pug

block content
    .container-fluid
        .row
            img.sell-top(src='/image/squares.jpeg' )
            .top-left
                h2 Selling has never been so easy!
        .row.p-5
            h2 List your product for free! 
                form.p-5(action="/sell" method="post" name="sell-form" enctype="multipart/form-data")
                    .form-group
                        input(type="hidden" name="id")
                        .input-group.mb-3
                            .input-group-prepend
                                label.input-group-text(for='inputCity') City
                            select#inputCity.custom-select(name="city" required="required")
                                option(value="") Please choose a city...
                                option(value='Vancouver') Vancouver
                                option(value='Richmond') Richmond
                        .input-group.mb-3
                            .input-group-prepend
                                label.input-group-text(for='inputCategory') Category
                            select#inputCategory.custom-select(name="category" required="required")
                                option(value="") Please choose a category...
                                option(value='Bakery') Bakery
                                option(value='Cheese') Cheese
                        .input-group.mb-3
                            .input-group-prepend
                                span#inputProductName.input-group-text Product Name
                            input.form-control(type='text' name="name" required="required" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                        .input-group.mb-3
                            .input-group-prepend
                                span#inputProductPrice.input-group-text Price
                            input.form-control(type='number' name="price" required="required" aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
                        .input-group.mb-3
                            .input-group-prepend
                                span.input-group-text Product Description
                            textarea.form-control(name="description" required="required" aria-label='With textarea')
                        .input-group.mb-3
                            .input-group-prepend
                                span#inputProductImage.input-group-text Upload Image
                            .custom-file
                                input#inputProductImage.custom-file-input(type='file' name="image" aria-describedby='inputGroupFileAddon01')
                                label.custom-file-label(for='inputProductImage') Choose file
                        button.btn.btn-primary.btn-lg(type="submit") Post


block footer
    include ./footer