* {
    padding: 0;
    margin: 0;
  }
  
body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #e6e9f0;
  }
.blackish {
  color: #3b3a36;
}
.carousel-item {
    height: 40rem;
  }
.bgcolor-social {
    background-color: #9fa8a3;
  }
div.feature {
    width: 18rem;
    height: 30rem;
    background-color: #c5d5cb;
    color: #283018
  }
.card img {
    height: 18rem;
    border-radius: 50%;
    border-style: solid;
  }
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#foot {
  background-color: #5a5c51;
}
#foot-bottom {
  background-color: rgb(37, 46, 57);
}
.subscribe {
  border-radius: 96px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 4px 0 rgb(34 34 34 / 10%) inset;
  width: 500px;
  align-content: center;
  padding-bottom: 50px;
}
.font-gold {
  color: #e6af4b
}
.flex-col {
  flex-direction: column;
}
.thanks {
  font-family: roboto;
  color: #b56969;
}
.about-links {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.about-links a {
  color: #eeeeee;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about-links a:hover {
  color: #eeeeee;
  background-color: transparent;
  font-size: 30px;
}
.box-shadow-double {
  box-shadow:
      0 0 0 10px hsl(138, 17%, 55%),
      0 0 0 15px hsl(120, 24%, 68%);
}
.sell-top {
  width: 100%;
  height: 300px;
  padding: 0px;
  margin: 0px;
  position: relative;
}
#sellContainer {
  padding: 0;
  margin: 0;
}
.top-left {
  position: absolute;
  top: 220px;
  left: 60px;
  width: 100%;
  font-family: cursive;
  color: #5e0231;
  text-shadow: rgb(145, 85, 85) 1px 1px;
  animation: fadeIn .8s ease-in;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: scale(.5,.5);
  }
  
  100% {
    opacity: 1;
    transform: scale(1,1);
  }
}
div.all-products-card {
  width: 18rem;
  background-color: #c5d5cb;
  color: #283018
}
.p-20 {
  padding-left: 55px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div.product-detail {
  background-color: #c5d5cb;
  color: #283018;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.products-top {
  width: 100%;
  height: 200px;
  padding: 0px;
  margin: 0px;
  position: relative;
}


